@font-face {
    font-family: 'Bebas Neue';
    src: url(./fonts/BebasNeue-Regular.ttf);
}

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style:none;
    font-family: 'Playfair Display';
    scroll-behavior: smooth;
    box-sizing: border-box;
}


html{
    background-color: #F4E8D1;
}


/* =========================== ACCUEIL ============================ */


header{
    padding: 0px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;left: 0;right: 0;
    background-color: #F4E8D1;
    box-shadow: 2px 2px 10px #444444;
    z-index: 2;
}


header img {
    height: 100px;
    width: 100px;
}


header li {
    display: inline;
}


header li a{
    color: black;
    margin-left: 25px;
    font-size: 20px;
    transition: 0.2s;
    text-transform: uppercase;
}


header ul li a {
    position: relative;
    z-index: 5;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}


header ul li a:hover {
    color: #F4E8D1;
  }
  header ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: black;
    visibility: none;
    opacity: 0;
    z-index: -1;
    transition: 0.5s;
  }
  header ul li a:hover:after {
    opacity: 0.7;
    visibility: visible;
    height: 100%;
  }


header .icon a{
    border: solid;
    border-radius: 20px;
    border-color: black;
    background-color: black;
    font-size: 25px;
    margin-right: 10px;
    color: #F4E8D1;
    transition: 0.2s;
    padding:7px 15px;
}


header .icon a:hover{
    border: solid;
    border-radius: 20px;
    border-color: #F4E8D1;
    background-color: #F4E8D1;
    color: black;
    transition: 0.5;
}
section{
    padding: 50px 5px;
    margin-top: 5%;
}


.acceuil {
    /* position: absolute; */
    align-items: center;
    background: url(Images/Image-acceuil.webp);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.acceuiltxt {
    text-align: center;
}


.acceuiltxt h3 {
    /* position: absolute; */
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #F4E8D1;
    margin-top: 20px;
}


.acceuiltxt h1{
    /* position: absolute; */
    font-size: 3.4rem;
    letter-spacing: 1px;
    font-weight: bold;
    color: #F4E8D1;
    margin-top: 20px;
}


.acceuiltxt h2 {
    /* position: absolute; */
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #F4E8D1;
    margin-top: 50%;
    margin-right: 80%;
    font-weight: bold;
}






/* =========================== NOS VOITURES ============================ */


.département {
    text-align: center;
    margin-top: 10vw;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: x-large;
    padding: 20px;
}

.container hr {
    width: 7vw;
    border: solid 2px;
    color: black;
    margin: auto;
    margin-bottom: 5vw;
}

.container2 hr {
    width: 7vw;
    border: solid 2px;
    color: #F4E8D1;
    margin: auto;
    margin-bottom: 5vw;
}

.container h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: xx-large;
    margin-top: 8vw;
    margin-bottom: 15px;
}

.container2 h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: xx-large;
    margin-top: 10vw;
    margin-bottom: 15px;
    color: #F4E8D1;
}

/* CARD */


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
    padding-bottom: 10vw;
    background-color: #F4E8D1;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 15vw;
    padding-bottom: 10vw;
    background-color: #444444;
}

.cars {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card {
    width: 30%;
    background-color: #7e7e7e;
    overflow: hidden;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: black;
    height: 32em;
    border-radius: 8px;
}

.card2 {
    width: 30%;
    background-color: #F4E8D1;
    overflow: hidden;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: black;
    height: 32em;
    border-radius: 8px;
}

.card img {
    width: 100%;
    height: 60%;
    overflow: hidden;
    object-fit: cover;
}

.card2 img {
    width: 100%;
    height: 60%;
    overflow: hidden;
    object-fit: cover;
}

.card-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 15px;
    padding: 8px;
}

.card-description {
    padding: 20px;
    font-size: .9em;
    line-height: 1.5;
}

.card:hover {
    background-color: #797979;
    cursor: pointer;
    transform: scale(1.05);
    transition: .3s;
    color: white;
}

.card2:hover {
    background-color: #797979;
    cursor: pointer;
    transform: scale(1.05);
    transition: .3s;
    color: white;
}

.card:not(:hover) {
    transition: .3s;
}

.card2:not(:hover) {
    transition: .3s;
}

/* MODAL */


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 70vh;
    background-color: #F4E8D1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    padding: 20px;
    display: none;
}

.modal--open {
    display: block;
}

.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    transition: .15s all ease-in-out;
}

.modal-close svg {
    height: 25px;
    width: 25px;
}

.modal-close:hover {
    color: red;
    transform: scale(0.93);
}

.modal-header {
    font-size: 1.3em;
    text-align: center;
    padding: 300px 0px;
    background-image: url(Images/Bentley.jpg);
    background-size: cover;
}

.modal-body {
    font-size: 1.1em;
}

.modal-footer-button {
    font-size: 1.1em;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #444444;
    color: white;
    cursor: pointer;
    transition: .3 all ease-in-out;
}

.modal-footer-button:hover {
    background-color: #303030;
}


/* =========================== PROPOS ============================ */


.milieux{
    text-align: center;
    font-size: 50px;
}


.petit{
    width: 100px;
    height: auto;
   
}


.droite{
    float: right;
}


.taille{
    font-size: 30px;
}




/* =========================== Contact ============================ */




.form {
    display: flex;
    margin-left: 5%;
}


.form h1 {
   
}

/* =========================== FOOTER ============================ */


footer {
    display: flex;
    flex-direction: column;
    background-color: #5f4839;
    text-align: center;
}

footer .top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em;
    padding: 2em 0;
}

footer hr {
    border: solid 2px;
    color: black;
}

footer .mid {
    display: flex;
    justify-content: center;
    gap: 5em;
    padding: 40px 0;
}

footer .mid a {
    height: 40px;
    aspect-ratio: 1;
}

footer .mid img {
    width: 100%;
}

footer .mid a {
    transform: translateY(0);
    transition: transform .2s ease;
}

footer .mid a:hover {
    transform: translateY(-5px);
}

footer .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px;
    margin-top: 50px;
}

footer li {
    display: inline-block;
    width: 160px;
}

footer img {
    width: 100px;
    aspect-ratio: 1;
}

footer a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    font-size: 1.5em;
}

footer a:hover {
    text-decoration: underline;
}